.catalog {
   width: 100%;
   display: flex;
   justify-content: space-between;
   top: 5%;
}

.filter {
   width: 30%;
   display: flex;
   flex-direction: column;
   top: 5%;
}

.filter__device {
   padding-left: 10%;
   position: sticky;
   top: 5%;
}

.device {
   width: 70%;
}

.filter__title__1 {
   margin-top: 20%;
   margin-bottom: 20%;
}

.filter__title__4 {
   margin-bottom: 15%;
}

.form__filter {
   margin-top: 5%;
   margin-left: 10%;
}

.device__item {
   margin: 2% auto;
}