.trash__container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding-left: 160px;
	padding-right: 16px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border: 1px solid;
	max-height: 703px;
	border-radius: 15px;
	background-color: rgb(251, 250, 247);
	display: block;
}

.table__container {
	margin-top: 30px;
}

.rm {
	background-color: rgb(240, 170, 170);
	border-radius: 50%;
	color: #fff;
	border: none;
}

.trash__title {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.final__price {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
