.input {
   display: flex;
   justify-content: start;
}

.user__reviews__title_h3 {
   margin-top: 5%;
   margin-bottom: 2%;
}

.input__form {
   width: 100%;
}

.input__text {
   text-align: none;
   width: 45%;
   margin-right: 5%;
}