.box__rewiews {
   font-family: 'Lora', sans-serif;
   margin: 5% auto 0 auto;
   width: 90%;
   max-width: 1125px;
}

.box__rewiews__h1 {
   text-align: center;
   font-size: 28px;
   margin-bottom: 2.5%;
}

input.box__rewiews__input,
.box__rewiews__span,
.box__rewiews__label,
.box__rewiews__textarea {
   font-family: 'Ubuntu', sans-serif !important;
   display: block !important;
   margin: 10px !important;
   padding: 5px !important;
   border: none !important;
   font-size: 22px !important;
}

.box__rewiews__textarea:focus,
input:focus {
   outline: 0;
}

/* Question */

input.question,
.box__rewiews__textarea.question {
   font-size: 48px;
   font-weight: 300;
   border-radius: 2px;
   margin: 0;
   border: none;
   width: 80%;
   background: rgba(0, 0, 0, 0);
   transition: padding-top 0.2s ease, margin-top 0.2s ease;
   overflow-x: hidden;
   /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */

input.question+.box__rewiews__label,
.box__rewiews__textarea.question+.box__rewiews__label {
   display: block !important;
   position: relative !important;
   white-space: nowrap !important;
   padding: 0px !important;
   margin: 0 !important;
   width: 10% !important;
   border-top: 1px solid rgb(82, 148, 247) !important;
   -webkit-transition: width 0.4s ease !important;
   transition: width 0.4s ease !important;
   height: 0px !important;
}

input.question:focus+.box__rewiews__label,
.box__rewiews__textarea.question:focus+.box__rewiews__label {
   width: 80% !important;
}

input.question:focus,
input.question:valid {
   padding-top: 35px;
}

.box__rewiews__textarea.question:valid,
.box__rewiews__textarea.question:focus {
   margin-top: 35px;
}

input.question:focus+.box__rewiews__label>.box__rewiews__span,
input.question:valid+.box__rewiews__label>.box__rewiews__span {
   top: -100px !important;
   font-size: 22px !important;
   color: #333 !important;
}

.box__rewiews__textarea.question:focus+.box__rewiews__label>.box__rewiews__span,
.box__rewiews__textarea.question:valid+.box__rewiews__label>.box__rewiews__span {
   top: -150px !important;
   font-size: 22px !important;
   color: #333 !important;
}

input.question:valid+.box__rewiews__label,
.box__rewiews__textarea.question:valid+.box__rewiews__label {
   border-color: green !important;
}

input.question:invalid,
.box__rewiews__textarea.question:invalid {
   box-shadow: none;
}

input.question+.box__rewiews__label>.box__rewiews__span,
.box__rewiews__textarea.question+.box__rewiews__label>.box__rewiews__span {
   font-weight: 300 !important;
   margin: 0 !important;
   position: absolute !important;
   color: #8F8F8F !important;
   font-size: 48px !important;
   top: -66px !important;
   left: 0px !important;
   z-index: -1 !important;
   -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease !important;
   transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease !important;
}

input[type="submit"] {
   -webkit-transition: opacity 0.2s ease, background 0.2s ease;
   transition: opacity 0.2s ease, background 0.2s ease;
   display: block;
   opacity: 0;
   margin: 10px 0 0 0;
   padding: 10px;
   cursor: pointer;
}

input[type="submit"]:hover {
   background: #EEE;
}

input[type="submit"]:active {
   background: #999;
}

input.question:valid~input[type="submit"],
.box__rewiews__textarea.question:valid~input[type="submit"] {
   -webkit-animation: appear 1s forwards;
   animation: appear 1s forwards;
}

input.question:invalid~input[type="submit"],
.box__rewiews__textarea.question:invalid~input[type="submit"] {
   display: none;
}

@-webkit-keyframes appear {
   100% {
      opacity: 1;
   }
}

@keyframes appear {
   100% {
      opacity: 1;
   }
}