.cotact{
    display: flex;
    justify-content: flex-start; 
    align-items: stretch;
}
.text{
    display: flex;
    justify-content: space-between;
    height: 300px;
    font-family: sans-serif;
    text-align: justify;
}
 
.img{
    width: 200px;
     padding: 20px;
} 

.option{
    display: flex;
	justify-content: space-around;;
    align-items: center;
}
.map{
    display: flex;
	justify-content: space-between;
   }
.contact_img{
    width: 30px;
}

.networks{
    display: flex;
    align-items: flex-end;
}

